* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Roboto;
}

#menu img {
    margin: 0 100px;
}

#login {
    margin: 0 135px;
}

header,
.introducao {
    background-color: #131313;
}

#info {
    background-color: #CBBD84;
    font-size: 16px;
    color: #504519;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px;
}

#menu {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-itens {
    list-style: none;
    display: flex;
    gap: 30px;
}

#menu-itens a {
    color: #efefef;
    font-size: 20px;
    padding: 16px;
}

#login {
    color: #efefef;
    font-size: 20px;
    position: relative;
}

#login::after {
    content: "";
    background: url("../img/icon-login.svg") no-repeat;
    width: 20px;
    height: 20px;
    top: 3px;
    right: -35px;
    position: absolute;
}

.introducao {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

.introducao h1 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.02em;
    color: #efefef;
    position: relative;
}

.introducao img {
    margin: 64px 100px;
}

#ponto {
    color: #70632D;
    font-size: 56px;
    position: absolute;
}

#btn-agendar {
    background-color: #CBBD84;
    color: #504519;
    display: inline-block;
    grid-template-columns: 5px;
    border-radius: 4px;
    margin: 10px 0;
    padding: 15px 30px;
}

#introcucao-item {
    margin: 0 100px;
}